services:
  unbound:
    container_name: unbound
    image: mvance/unbound:latest
    restart: unless-stopped
    networks:
      dns:
        aliases:
          - unbound

  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "280:80/tcp"
    environment:
      - TZ='Europe/Moscow'
      - WEBPASSWORD=${PIHOLE_PASSWORD}
      - DHCP_ROUTER='192.168.0.1'
      - DNS1='unbound'
    volumes:
      - './config_pihole/etc-pihole/:/etc/pihole/'
      - './config_pihole/etc-dnsmasq.d/:/etc/dnsmasq.d/'
    cap_add:
      - NET_ADMIN
    env_file: ".env"
    restart: unless-stopped
    networks:
      dns:
    depends_on:
      - unbound

  duckdns:
    image: lscr.io/linuxserver/duckdns:latest
    container_name: duckdns
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Moscow
      - SUBDOMAINS=${SUBDOMAIN}
      - TOKEN=${TOKEN}
      - LOG_FILE=false
    volumes:
      - ./config_dns/:/config/
    env_file: ".env"
    restart: unless-stopped
    networks:
      dns:

networks:
  dns:
    external: true